<% if target.errors.any? %>
    <div class="alert-message block-message error fade in">
        <a href="#">
            *
        </a>
        <strong>
            <%= "#{pluralize(target.errors.count, "error")} prohibited this record from being saved:" %>
        </strong>
        <ul>
            <% targer.errors.full_messages.each do |msg| %>
                <li>
                    <%= msg %>
                </li>
        </ul>
    </div>
<% end %>